<h1>{{title}}</h1>
<h2>My favorite hero is: {{myHero.name}}</h2>
<p>Heroes:</p>
<ul>
  <li *ngFor="let hero of heroes">
    {{hero.name}}
  </li>
</ul>
<p *ngIf="heroes.length > 3" >There are many heroes!</p>

<h2>step 7</h2>
<app-step7></app-step7>
<h2>step 7-2</h2>
<app-step7-2></app-step7-2>
<h2>step 7-3</h2>
<app-step7-3></app-step7-3>
<h2>step 7-4</h2>
<app-step7-4></app-step7-4>

<h2>step 8</h2>
<app-step8></app-step8>

<h2>step 9</h2>
<app-step9></app-step9>

<h2>Heros</h2>
<app-heros></app-heros>